// Import Phonon
@import '../../node_modules/phonon/src/scss/functions';

@import '../../node_modules/phonon/src/scss/variables';

// Import variables
@import './variables';

@import '../../node_modules/phonon/src/scss/mixins';
@import '../../node_modules/phonon/src/scss/root';
@import '../../node_modules/phonon/src/scss/reboot';
@import '../../node_modules/phonon/src/scss/images';

// Components
@import '../../node_modules/phonon/src/scss/components/base';
@import '../../node_modules/phonon/src/scss/components/highlight';
@import '../../node_modules/phonon/src/scss/components/heading';
@import '../../node_modules/phonon/src/scss/components/line';
@import '../../node_modules/phonon/src/scss/components/collection';
@import '../../node_modules/phonon/src/scss/components/table';
@import '../../node_modules/phonon/src/scss/components/icon';
@import '../../node_modules/phonon/src/scss/components/navbar';
@import '../../node_modules/phonon/src/scss/components/alert';
@import '../../node_modules/phonon/src/scss/components/button';
@import '../../node_modules/phonon/src/scss/components/button-group';
@import '../../node_modules/phonon/src/scss/components/breadcrumb';
@import '../../node_modules/phonon/src/scss/components/form';
@import '../../node_modules/phonon/src/scss/components/input-group';
@import '../../node_modules/phonon/src/scss/components/progress';
@import '../../node_modules/phonon/src/scss/components/tab';
@import '../../node_modules/phonon/src/scss/components/footer';
@import '../../node_modules/phonon/src/scss/components/loader';
@import '../../node_modules/phonon/src/scss/components/grid';
@import '../../node_modules/phonon/src/scss/components/collapse';
@import '../../node_modules/phonon/src/scss/components/accordion';
@import '../../node_modules/phonon/src/scss/components/modal';
@import '../../node_modules/phonon/src/scss/components/tile';
@import '../../node_modules/phonon/src/scss/components/notification';
@import '../../node_modules/phonon/src/scss/components/off-canvas';
@import '../../node_modules/phonon/src/scss/components/selectbox';

// Utilities
@import '../../node_modules/phonon/src/scss/utilities';


// Custom style
html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}


html,
body,
#__nuxt
#__layout,
 {
  height: 100%;
  min-height: 100% !important;
}

// Header with angle at the bottom
.angle {
  width: 100%;
  height: 40px;

  polygon {
    fill: #fff;
  }
}

// Home page
.header-main {
  .main-container {
    min-height: 75vh;
    background: red;
    padding: 80px 0;
  }
}

.story {
  padding-top: 115px;
  padding-bottom: 115px;
}

.story h2 {
  text-transform: uppercase;
  font-weight: 900;
}

.story .headline {
  text-transform: uppercase;
}

.fas {
  text-align: center;
  display: block;
  font-size: 9em;
  color: #333;
}

// Util for navbar in docs layout
.navbar .full-width {
  max-width: none;
}

.sidebar {
  top: $heightNavbar;
  height: calc(100% - #{$heightNavbar});
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu > li > ul a {
  height: 42px;
  padding: 0 28px;
}

.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.menu a {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  color: $secondaryColor;
  padding: 0 14px;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  margin: 0;
  border-left: 2px solid transparent;
}

.menu a.active {
  box-shadow: inset 2px 0 0 #3271d1;
}

.menu a:hover {
  color: rgb(125, 125, 125);
}

.menu a:hover {
  background: rgba(0, 0, 0, .01);
}

// Documentation
.content {
  padding: 80px 15px;
}

/* center if the offcanvas is not showing */
.content .page:not(.show-left):not(.show-right) {
  margin: 0 auto;
}

.page {
  max-width: 1200px;

  // Static examples of notifications
  // Make sure they are going under the navbar
  .notification {
    z-index: 1;
  }
}
